<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array/>
	<key>Item4</key>
	<dict/>
	<key>UserId</key>
	<integer>5</integer>
	<key>USERNAme</key>
	<string>arnoldschwanger</string>
	<key>EmaIL</key>
	<string>arnoldschwanger@gmail.com</string>
	<key>New item - 4</key>
	<string>arnold1234</string>
	<key>Item3</key>
	<dict/>
	<key>userId</key>
	<integer>4</integer>
	<key>Username</key>
	<string>neetaambani</string>
	<key>EMAil</key>
	<string>neetaambani@gmail.com</string>
	<key>PASSword</key>
	<string>neeta1234</string>
	<key>Item2</key>
	<dict/>
	<key>userID</key>
	<integer>3</integer>
	<key>Username.</key>
	<string>ujwalarora</string>
	<key>eMail</key>
	<string>ujwalarora@gmail.com</string>
	<key>passWord</key>
	<string>ujwal1234</string>
	<key>item1</key>
	<dict/>
	<key>user</key>
	<integer>2</integer>
	<key>userName</key>
	<string>mukeshambani</string>
	<key>Email</key>
	<string>mukeshambani@gmail.com</string>
	<key>Password</key>
	<string>mukesh1234</string>
	<key>Item0</key>
	<dict/>
	<key>userid</key>
	<integer>1</integer>
	<key>username</key>
	<string>vijaymalya</string>
	<key>email</key>
	<string>vijaymalya@gmail.com</string>
	<key>password</key>
	<string>vijay123</string>
</dict>
</plist>
